/*css z moodlu*/

.html2{
    background-color: #ff0000;
}
.html3{
    background-color: #00ff00;
}

div {
    font-size:medium;
}

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #ce8f8f;
  }
  
  body {
    width: 70%;
    margin: 0 auto;
  }
  
  h1, h2, h3 {
    font-family: 'Sonsie One', cursive;
    color: #2a2a2a;
  }
  
  p, input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2a2a2a;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 10px rgb(136, 136, 136);
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  nav, article, aside, footer {
    background-color: white;
    padding: 1%;
  }
  
  nav {
    height: 50px;
    background-color: #ff80ff;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  
  nav form {
    flex: 1;
    display: flex;
    /align-items: center;
    height: 100%;
    padding: 0 2em;
  }
  
  input {
    font-size: 1.6rem;
    height: 32px;
  }
  
  input[type="search"] {
    flex: 3;
  }
  
  input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
  }
  
  main {
    display: flex;
  }
  
  article {
    flex: 4;
  }
  
  aside {
    flex: 1;
    margin-left: 10px;
    background-color: #ff80ff;
  }
  
  aside li {
    padding-bottom: 10px;
  }
  
  footer {
    margin-top: 10px;
  }

  .shopitem {
    max-width: 69%;
  }

  .item-a {
    grid-area: c1;
    background-color: #b1abb1;
  }
  .item-b {
    grid-area: c2;
    background-color: #7040f3;
  }
  .item-c {
    grid-area: c3;
    background-color: #42d3a3;
  }
  .item-d {
    grid-area: c4;
    background-color: #ff8080;
  }
  .item-e {
    grid-area: c5;
    background-color: #5bf0f5;
  }
  .item-f {
    grid-area: c6;
    background-color: #fdff80;
  }
  
  .container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "c1 c2 c3 c4 c5 c6 " 
      ;
  }